*{
    margin-top: -3.9px;
}
.heading{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5em ;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
form{
    margin: auto;
    text-align: center;
    width: 80%;
}
.img-fluid{
    width: 100px;
}
.temp{
    background-image: url(temp/tempbg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.text1{
    font-size: x-large;
    margin-top: -10px;
    font-weight: 600;
}
.text1{
    margin-top: -20px;
}

.cityinput{
    background-color: rgb(40, 40, 40);
    margin-bottom: 10px;
    width: 78.5%;
    border-radius: 10px 0px 0px 10px;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-top-color: initial;
    border-right-color: wheat;
    border-bottom-color: initial;
    border-style: none none none none;
    padding: 10px;
    font-size: medium;
    color: white;
}
span{
    color: rgb(255, 0, 0);
    font-size: larger;
    font-weight: 600;
}
.submit1{
    background-color: rgb(40, 40, 40);
    margin-bottom: 10px;
    width: 20%;
    border-radius: 0px 10px 10px 0px;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border:2px solid white;
    border-style: none none none none;
    padding: 10px;
    font-size: medium;
    color: white;
}
.submit1:hover{
    background-color:  rgb(99, 99, 99);
}
.submit1:active{
    background-color: #44d2f9a2;
}
input::placeholder , textarea::placeholder{
    color: rgba(255, 255, 255, 0.708);
}
input[type="text"]{
    padding: 10px 50px;
}


textarea{
    background-color: rgb(40, 40, 40);
    width: 35%;
    height: 100px;
    font-size: large;
    white-space: pre-wrap;
    resize: none;
    padding: 10px;
    border-top-width: initial;
    border-right-width: initial;
    border-bottom-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-style: none none none none;
    margin-bottom: 70px;
}
body{
    margin: 0%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    text-align: center;
}
.card2{
    margin: auto;
    background-color: #95caff9e !important;
    height: 350px;
}
.temperature{
    font-size: xx-large;
}
.row{
    text-align: center;
}